.buttonsCard {
    padding: 25px 50px;
    margin: 5px;
  }
  .allComments {
    margin-top: 70px;
  }
  .Theme{
    background-image: url('../bg.jpg');
    background-size: cover;
    width: 100%;
    height: 880px;
  }
  a{
    text-decoration:none;
  }
  .headingTitle {
    color: #1c9bbb;
    font-size: 23px;
    font-weight: 700;
    margin-top: 40px;

  }
  .userheadingTitle{
    color: #09bcf2;
    font-size: 23px;
    font-weight: 700;
    margin-top:30px;
    margin-left: 70px;
  }
  .headingsTitle {
    color: white;
    text-align: center;
    margin: 20px;
    padding-top: 40px;
    font-size: 22px;
    font-weight: 600;
  }
  .userList{
    padding: 10px;
    height: 480px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px 0px 10px 20px;
    text-transform: capitalize;
    font-size: 18px;
  }
  .PostHeading{
    padding-top:10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color:aliceblue;
  }
  .card-container{
    width: 100%;
    height: 570px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #sidebar,#contentbar{
    /* overflow-y:scroll; */
    overflow: hidden;
    background-color: #1c9bbb;
    height: 600px;
  
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(95, 95, 95); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2c2c2c; 
  }
  .buttonsCard a {
    color: black;
  }
  .user {
    width: 300px;
    height: 500px;
    font-family: 'Times New Roman';
    font-size: 70%;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(233, 235, 236);
    margin-left: -10.5px;
  }
  .user h5 {
    text-align: center;
    box-shadow: 2px 2px rgb(179, 181, 183);
    height: 50px;
    padding: 15px;
    color: black;
  }
  .buts {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
      rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
      rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    margin-top: 20px;
    /* user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */
  }
  
  .buts:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
      rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(44, 187, 99, 0.25) 0 16px 32px;
    /* transform: scale(1.05) rotate(-1deg); */
  }
  header {
    width: 1260px;
    height: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(179, 181, 183);
    background: linear-gradient(rgb(240, 225, 139), #f8f3f2b2);
  }
  
  .container {
    /* height:750px; */
    padding-top: 60px;
    margin-top: 40px;
    margin: auto;
  }
.singlePost{
   margin-top: 20px; 
  padding: 20px 50px;
  max-height: 600px;
overflow:scroll; 
overflow-x: hidden;
color: whitesmoke;
}
  .container-content{
    width:1070px;
    border-radius: 10px;
    /* background-color: aliceblue; */
    box-shadow: 2px 0px 1px 2px aliceblue;
  }
  .user1 {
    width: 800px;
    height: 620px;
    text-align: center;
    background-color:#03201f21;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .head {
    border-radius: 10px;
    height: 45px;
    box-shadow: 2px 2px rgb(179, 181, 183);
    font-family: 'Times New Roman';
    margin-top: 80px;
    font-size: 70%;
  }
  .head h4 {
    padding: 15px;
    font-size: 70%;
    color: black;
  }
  
  .p1 {
    font-size: x-large;
    color: black;
  }
  .p1 p {
    font-size: large;
  }
  .drop {
    text-align: right;
    margin-top: -133px;
    font-family: 'Times New Roman';
  }
  .p2 {
    margin-top: 350px;
  }
  .hrzLine{color: aliceblue;
    border: 1px solid aliceblue;

  }

  